BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
IndentCaseLabels: false
ContinuationIndentWidth: 8
AlignConsecutiveMacros: true
BraceWrapping:
  AfterEnum: true
